.Board-container #tileA1 {
    border-top-left-radius: 10px;
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-left: none;
    border-top: none;
  }
  .Board-container #tileA2 {
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
    border-top: none;
  }
  .Board-container #tileA3 {
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
    border-top: none;
  }
  .Board-container #tileA4 {
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
    border-top: none;
  }
  .Board-container #tileA5 {
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
    border-top: none;
  }
  .Board-container #tileA6 {
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
    border-top: none;
  }
  .Board-container #tileA7 {
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
    border-top: none;
  }
  .Board-container #tileA8 {
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
    border-top: none;
  }
  .Board-container #tileA9 {
    border-top-right-radius: 10px;
    border-bottom: 1px solid var(--primary);
    border-right: none;
    border-left: 1px solid var(--primary);
    border-top: none;
  }
  
  .Board-container #tileI1 {
    border-bottom-left-radius: 10px;
    border-right: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
    border-left: none;
    border-bottom: none;
  }
  .Board-container #tileI2 {
    border-right: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
    border-bottom: none;
  }
  .Board-container #tileI3 {
    border-right: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
    border-bottom: none;
  }
  .Board-container #tileI4 {
    border-right: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
    border-bottom: none;
  }
  .Board-container #tileI5 {
    border-right: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
    border-bottom: none;
  }
  .Board-container #tileI6 {
    border-right: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
    border-bottom: none;
  }
  .Board-container #tileI7 {
    border-right: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
    border-bottom: none;
  }
  .Board-container #tileI8 {
    border-right: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
    border-bottom: none;
  }
  .Board-container #tileI9 {
    border-bottom-right-radius: 10px;
    border-top: 1px solid var(--primary);
    border-right: none;
    border-left: 1px solid var(--primary);
    border-bottom: none;
  }
  
  .Board-container #tileB1 {
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-left: none;
    border-top: 1px solid var(--primary);
  }
  .Board-container #tileC1 {
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-left: none;
    border-top: 1px solid var(--primary);
  }
  .Board-container #tileD1 {
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-left: none;
    border-top: 1px solid var(--primary);
  }
  .Board-container #tileE1 {
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-left: none;
    border-top: 1px solid var(--primary);
  }
  .Board-container #tileF1 {
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-left: none;
    border-top: 1px solid var(--primary);
  }
  .Board-container #tileG1 {
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-left: none;
    border-top: 1px solid var(--primary);
  }
  .Board-container #tileH1 {
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-left: none;
    border-top: 1px solid var(--primary);
  }
  
  .Board-container #tileB9 {
    border-left: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-right: none;
    border-top: 1px solid var(--primary);
  }
  .Board-container #tileC9 {
    border-left: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-right: none;
    border-top: 1px solid var(--primary);
  }
  .Board-container #tileD9 {
    border-left: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-right: none;
    border-top: 1px solid var(--primary);
  }
  .Board-container #tileE9 {
    border-left: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-right: none;
    border-top: 1px solid var(--primary);
  }
  .Board-container #tileF9 {
    border-left: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-right: none;
    border-top: 1px solid var(--primary);
  }
  .Board-container #tileG9 {
    border-left: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-right: none;
    border-top: 1px solid var(--primary);
  }
  .Board-container #tileH9 {
    border-left: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-right: none;
    border-top: 1px solid var(--primary);
  }
  