.Board-container .tile {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border: 1px solid var(--primary);
}

.user-tile{
  color: var(--user-tile-color) !important;
}

.board-tile{
  color: var(--text-color) !important;
}

.Board-container .value-container {
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Roboto";
  font-size: 2rem;
}

.Board-container .value-container:hover {
  border: 4px solid #27a384;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  border-radius: 10px;
  z-index: +1;
}

.Board-container .selected-tile-class {
  width: 80% !important;
  height: 80% !important;
  border-radius: 10px;
  border: 2px solid var(--primary) !important;
  z-index: +1;
}

.tile > .selected-tile-class {
  background-color: var(--tertiary) !important;
}

.Board-container .selected-row-class {
  background-color: var(--select-fill);
  width: 100%;
  height: 100%;
}

.Board-container .selected-col-class {
  background-color: var(--select-fill);
  width: 100%;
  height: 100%;
}

.Board-container .selected-value-class {
  background-color: var(--select-fill);

  width: 80%;
  height: 80%;
  border-radius: 10px;
  border: 2px solid var(--primary);
}