/*Base for modal that covers side controls (new game, settings)*/
.side-modal {
    display: block;
    position: absolute;
    z-index: 1; /* Stays on top*/
    width: 100%;
    height: 100%;
    background-color: var(--tertiary); 
    border: 5px solid var(--primary);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    left: 0;
    top: 0;
}

.side-modal-header {
    display: flex;
    position: relative;
    color: #FFFFFF;
    width: 100%;
    height: 25%;
    text-align: center;
    top: -5px;
    background-color: var(--primary);
    font-family: "Roboto";
    font-style: normal;
    font-size: 33px;
    border-radius: 9px;
    justify-content: center;
    align-items: center;
}

.side-modal-text {
    color: var(--text-color);
    font-size: 1.3vw;
    line-height: 115%;
    width: 100%;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    padding: 3%;
}

/*Modals that appear in the middle of the screen outlined below*/
.page-modal {
    position: absolute;
    z-index: 1; /* Stays on top*/
    width: 35vw;
    height: 45vh;
    background-color: var(--primary); 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    left: -28vw;
    top: 10vh;
}

.page-modal-header {
    display: flex;
    position: relative;
    color: #ffffff;
    width: 100%;
    height: 33%;
    top: 5%;
    font-family: "Roboto";
    font-style: normal;
    font-size: 6vh;
    justify-content: center;
    align-items: center;
    left: 23%;
}

.page-modal-text {
    color: var(--tertiary);
    font-size: 2vw;
    line-height: 115%;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    padding: 3%;
    top: 50%;
    padding-left: 50%;
}

.pepe-scrap-win {
    height: 60%;
    position: absolute;
    left: 5%;
    top: 20%;
  }


/*Following are for the settings toggle buttons*/
.switch {
    position: relative;
    display:inline-block;
    width: 30%;
    left: 35%;
    height: 5%;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-off);
    border-radius: 30px;
} 

.slider:before {
    position: absolute;
    content: "";
    border-radius: 50%;
    height: 80%;
    width: 32%;
    left: 4px;
    bottom: 10%;
    background-color: #527261;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #D9D9D9;
}


input:checked + .slider:before {
    -webkit-transform: translateX(175%);
    -ms-transform: translateX(175%);
    transform: translateX(175%);
}

/*For New Game Buttons*/
.new-game-modal-btn{
    display: inline-block;
    position: relative;
    height: 12%;
    width: 60%;
    border: 2px solid var(--primary);
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    left: 20%;
    margin-top: 10%;
}

.side-modal button{
    transition: transform .1s; /* Animation */
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
    line-height: 100%;
}

.controls-container button:hover{
    transform: scale(1.1);
}

/*Two below functions control the x of the modal*/
.close {
    display: flex;
    position: absolute;
    right: 2%;
    top: 2px;
    z-index: 2;
    color: white;
    background-color:var(--primary);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 28px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

.close:hover,
.close:focus {
    color: var(--select-fill);
    text-decoration: none;
    cursor: pointer;
}
