.side-controls {
    display: grid;
    grid-area: 1 / 8 / 8 / 11 ;
    grid-template-columns: repeat(2, 1fr);             /*Columns/rows reserved for future buttons and timer*/
    grid-template-rows: repeat(12, 1fr);
    /*border: 4px solid #527261; */
}

.timer-container{
    position: relative;
    background: #FFFFFF;
    border: 5px solid #527261;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    grid-area: 1/1/4/4;
}

.timer-item{
    text-align: center;
    vertical-align: center;
}

.timer-item h3{
    color: #527261;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
}

.timer-item h1{
    color: #527261;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    
}

.controls-container{
    display: grid;
    grid-area: 5/1/13/12;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
}

h4{
    
}

.undo-btn{
    display: grid;
    grid-area: 1/1/6/9;
    border: 2px solid #527261;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    color: #527261;
    justify-content: center;
    align-items: center;
}

.hint-btn{
    display: grid;
    grid-area: 1/16/6/24;
    border: 2px solid #527261;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    color: #527261;
    justify-content: center;
    align-items: center;
}
.notes-btn{
    display: grid;
    grid-area: 10/1/15/9;
    border: 2px solid #527261;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    color: #527261;
    justify-content: center;
    align-items: center;
}
.eraser-btn{
    display: grid;
    grid-area: 10/16/15/24;
    border: 2px solid #527261;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    color: #527261;
    justify-content: center;
    align-items: center;
}
.new-game-btn{
    display: grid;
    grid-area: 19/1/24/9;
    border: 2px solid #527261;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    color: #527261;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.settings-btn{
    display: grid;
    grid-area: 19/16/24/24;
    border: 2px solid #527261;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    color: #527261;
    justify-content: center;
    align-items: center;
}

.controls-container button{
    transition: transform .1s; /* Animation */
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.controls-container button:hover{
    transform: scale(1.1);
}